/* Kleurenschema */

/* #0F1626 navy blue */
/* #AB987A leather */
/* #FF533D coral */
/* #F5F5F5 eggshell */

/* standaard zaken */

* {
    box-sizing: border-box;
    margin: 0.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5F5F5;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* css index --------------------------------------*/
/* top nbar ---------------------------------------*/
.top-bar {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0F1626;
    color: #F5F5F5;
    box-sizing: content-box;
    justify-content: space-between;
}
.reservation a {
    color: #F5F5F5;
}
.reservation a:hover {
    color:#FF533D;
}
.info {
    justify-content: flex-start;
}
.reservation {
    justify-content: flex-end;
}
/* header -----------------------------------------*/
header {
    margin-top: 50px;
}
nav {
    color: #F5F5F5;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
header nav .logo img {
    height: 200px;
    width: auto;
}
header .flex-horizontal {
    text-align: center;
    justify-content: center;
}
.menu {
    background-color: #AB987A;
}
.menu a {
    color: #F5F5F5;
    
}
.menu a:hover {
    color:  #0F1626;
    text-decoration: underline;
    
}
li .selectedPage {
   color: #0F1626; 
   text-decoration: underline;
}


/* main --------------------------------------------*/

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    grid-template-areas:
        "text1 image1 "
        "image2 text2"
        "text3 image3"
        "image4 text4";
}
.text1 {
    grid-area: text1;
    font-size: large;
}
.image1 {
    grid-area: image1;
}
.text2 {
    grid-area: text2;
    font-size: large;
}
.image2 {
    grid-area: image2;
}
.text3 {
    grid-area: text3;
    font-size: large;
}
.image3 {
    grid-area: image3;
}
.text4 {
    grid-area: text4;
    font-size: large;
}
.image4 {
    grid-area: image4;
}
.container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    grid-template-areas:
        "text1 image1 "
        "image2 image3";
}
.text1 {
    grid-area: text1;
    font-size: large;
}
.image2 {
    grid-area: image2;
}
.image3 {
    grid-area: image3;
}
main div img {
    width: auto;
    height: 300px;
}
main div ul {
    list-style: circle;
}
.containerHoverEffect {
    position: relative;
    width: auto;
    height: 300px;
  }
  .overlay2 {
    position: absolute; 
    bottom: 0%; 
    background:#0F1626;
    color:#F5F5F5; 
    width: 450px;
    transition: .5s ease;
    opacity:0;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
  .text {
    color: #F5F5F5;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .containerHoverEffect:hover .overlay2 {
    opacity: 0.9;
  }
  main {
      margin-bottom: 100px;
  }
  main .form {
      text-align: center;
      display: block;
  }
  input {
      width: 400px;
  }
  textarea {
      width: 400px;
  }
  .form #orderButton {
      width: 50px;
  }
  
  .container3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    grid-template-areas:
        "adres telefoon email"
        "kaart kaart form";
}
.adres {
    grid-area: adres;
    text-align: center;
}
.telefoon {
    grid-area: telefoon;
    text-align: center;
}
.email {
    grid-area: email;
    text-align: center;
}
.kaart {
    grid-area: kaart;
}
.form {
    grid-area: form;
}
.container3 p {
    color: #0F1626;
    font-style: italic;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 380px;
    width: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 380px;
    width: 400px;
}
/* footer ------------------------------------------*/
.low-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0F1626;
    color: #F5F5F5;
}
footer {
    text-align: center;
}
